{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock style %}


{% block content %}


<img src="https://kfc.com.uz/admin/files/5401.jpg" alt="" class="im">
<br>
<br>

<div class="cat">
    <h1>📞Номер:
        <p>+7777777</p>
    </h1>
    <h1>О нас:<p>Первый KFC открылся в 1952 году, а в 1955 году, запатентовав уникальный рецепт, Сандерс провел марафон по сбору средств на развитие бренда.  Он провел более 1000 встреч и, наконец, в 1964 году, в возрасте 74 лет, продал KFC инвесторам за 2 миллиона долларов! Продолжение известно.</p></h1>
    <h1>Помощь:<p>@black_kard23</p></h1>

</div>
<br>
<br>
<div class="crud-buttons">
    <a href="{% url 'category_list' %}" class="btn">Список категорий</a>
    <a href="{% url 'dish_list' %}" class="btn">Список блюд</a>
</div>
{% endblock content %}


