{% extends 'base.html' %}

{% block content %}
<div class="order_history">
    <h2>История заказов</h2>
    <div class="orders">
        {% for order in orders %}
            <div class="order">
                <h3>Заказ #{{ order.id }} от {{ order.created_at }}</h3>
                <ul>
                    {% for element in order.elements.all %}
                        <li>{{ element.dishes.name }} - {{ element.count }} шт.</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
