body{
    align-items: center;
}
.container {
    background-color: snow;
    color: red;
    padding: 10px;
    border: 5px solid ;
    border-color: red;
    border-radius: 40px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

a {
    color: red;
    text-decoration: none;
    margin: 0 10px;
}
